@page "/counter"
@using Dnsk.Service
@inject Dnsk.Service.Counter.CounterClient Client;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private uint currentCount = 0;

    private async Task IncrementCount()
    {
        var res = await Client.CountAsync(new CountRequest());
        currentCount = res.Count;
    }
}
