@page "/"

<PageTitle>Index</PageTitle>

<div class="root">
    <div class="center">
        <h1>Hello, Dnsk!</h1>

        <p>Welcome to your new dotnet starter kit.</p>

        <p>You will find a blazor wasm app, hosted by a aspnet core server, communicating over grpc, with a ef core powered db interface.</p>
    </div>
</div>
