@using Dnsk.Proto
@inject Dnsk.Proto.Api.ApiClient Api;

<div class="root col jc-c ai-c">
    <RadzenCard class="flx col p-3 w-25">
       <h1>Counter</h1>
       
       <p role="status">Current count: @currentCount</p>
       
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </RadzenCard>
</div>

@code {
    private uint currentCount = 0;

    private async Task IncrementCount()
    {
        try
        {
            var res = await Api.Auth_RegisterAsync(new Auth_RegisterReq() { Email = "mcbobbins", Pwd = "yolo" });
        }
        catch (Exception ex)
        {
            currentCount++;
        }
    }
}
