@using Dnsk.Client.Lib
@using Dnsk.I18n
<div class="root jc-c ai-c">
    <RadzenCard class="p-3 w-25">
        @(new MarkupString(L.S(S.Dnsk)))
    </RadzenCard>
</div>

@code{

    [CascadingParameter]
    public Session? Session { get; set; }

}