<div class="root jc-c ai-c">
    <RadzenCard class="p-3 w-25">
        <h1>Hello, Dnsk!</h1>

        <p>Welcome to your new dotnet starter kit.</p>

        <p>You will find:</p>
        <ul>
            <li>
                Client: a blazor wasm app using radzen ui library
            </li>
            <li>
                Server: aspnet with grpc api and entity framework db interface
            </li>
        </ul>
    </RadzenCard>
</div>
