@using Dnsk.Client.Lib
@using System.Text.RegularExpressions
<div class="root jc-c ai-c">
    <RadzenCard class="p-3">
        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" class="mb-4">
            Register and password reset
        </RadzenText>
        <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>
            <RadzenLogin
                Reme=@true
                Login=OnLogin
                ResetPassword=OnResetPwd
                Register=OnRegister />
        </RadzenTemplateForm>
    </RadzenCard>
</div>

@inject IAuthService _auth;
@code{

    private string Email { get; set; }
    private string Pwd { get; set; }

    private void SignUp()
    {
        Regex.Match(Email, @"^\S+@\S\.\S+$");
        _auth.Register(Email, Pwd);
    }

    private void OnLogin(LoginArgs args)
    {
        Console.WriteLine(args);
    }

    private void OnRegister()
    {
        Console.WriteLine("register");
    }
    
    private void OnResetPwd(string args)
    {
        Console.WriteLine(args);
    }

}