@using Dnsk.Client.Lib
@using System.Text.RegularExpressions
<div class="root">
    <div>
        <h1>Register</h1>
        <Input 
            T="Input.Type.Email"
            Label="Email" 
            Name="email"
            Required="@true"/>
        <div>
            <label>Password</label>
            <input type="password" @bind="Pwd"/>
        </div>
        <button @onclick="SignUp">Sign Up</button>
    </div>
</div>

@inject IAuthService _auth;
@code{

    private string Email { get; set; }
    private string Pwd { get; set; }

    private void SignUp()
    {
        Regex.Match(Email, @"^\S+@\S\.\S+$");
        _auth.Register(Email, Pwd);
    }

}