@using Dnsk.Client.Lib
@using System.Text.RegularExpressions
@using Dnsk.Common
@using AuthValidator = Dnsk.Client.Lib.AuthValidator
<div class="root jc-c ai-c">
    <RadzenCard class="flx col jc-c ai-c p-3 w-25">
        <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" class="m-t-0">
            Verify Email
        </RadzenText>
        @if (Verifying)
        {
            <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" class="m-b-1">
                Verifying your email.
            </RadzenText>
        }
        else
        {
            @if (Success)
            {
                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" class="m-b-1">
                    Thank you for verifying your email.
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" class="m-b-1">
                    You may now sign in.
                </RadzenText>
            }
            else
            {
                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" class="m-b-1 .rz-color-danger">
                    Something went wrong.
                </RadzenText>
            }
        }
        <RadzenButton ButtonType="ButtonType.Button" BusyText="Verifying" IsBusy="Verifying" Text="Sign In" Click="SignIn"/>
    </RadzenCard>
</div>

@inject IAuthService _auth;
@inject NavigationManager _nav;
@code{

    [Parameter]
    public string Email { get; set; }

    [Parameter]
    public string Code { get; set; }

    private bool Verifying = false;

    private bool Success = false;

    protected override async Task OnInitializedAsync()
    {
        Verifying = true;
        try
        {
            await _auth.VerifyEmail(Email, Code);
            Success = true;
        }
        finally
        {
            Verifying = false;
        }
    }

    private void SignIn()
    {
        if (!Verifying && Success)
        {
            _nav.NavigateTo("sign_in");
        }
    }
}