@using Dnsk.I18n
@using Common.Client
@using Common.Shared.Auth
<div class="root jc-c ai-c">
    <RadzenCard class="p-3 w-25">
        @(new MarkupString(L.S(S.Dnsk)))
    </RadzenCard>
</div>
@inject L L;
@code{

    [CascadingParameter]
    public ISession Session { get; set; } = Common.Shared.Auth.Session.Default(S.DefaultLang, S.DefaultDateFmt, S.DefaultTimeFmt);

}