@using Dnsk.Client.Lib
@using Dnsk.Proto
@using AuthValidator = Dnsk.Client.Lib.AuthValidator
<div class="root jc-c ai-c">
    <RadzenCard class="flx col jc-c ai-c p-3 w-25">
        <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" class="m-t-0">
            Verify Email
        </RadzenText>
        @if (_verifying)
        {
            <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" class="m-b-1">
                Verifying your email.
            </RadzenText>
        }
        else
        {
            @if (_success)
            {
                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" class="m-b-1 f-b rz-color-success-light">
                    Thank you for verifying your email.
                </RadzenText>
            }
            else
            {
                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" class="m-b-1 f-b rz-color-danger">
                    Something went wrong.
                </RadzenText>
            }
        }
        <RadzenButton ButtonType="ButtonType.Button" BusyText="Verifying" IsBusy="_verifying" Text="Sign In" Click="SignIn"/>
    </RadzenCard>
</div>

@inject Api.ApiClient Api;
@inject NavigationManager Nav;
@code{

    [Parameter]
    public string Email { get; set; } = "";

    [Parameter]
    public string Code { get; set; } = "";

    private bool _verifying = false;
    private bool _success = false;

    protected override async Task OnInitializedAsync()
    {
        _verifying = true;
        try
        {
            await Api.Auth_VerifyEmailAsync(new Auth_VerifyEmailReq()
            {
                Email = Email,
                Code = Code
            });
            _success = true;
        }
        catch
        {
            // use empty catch to avoid having to
            // call StatHasChanged on errors
        }
        _verifying = false;
    }

    private void SignIn()
    {
        if (!_verifying && _success)
        {
            Nav.NavigateTo("sign_in");
        }
    }
}