@using Dnsk.Proto
@inject Dnsk.Proto.Api.ApiClient Client;

<div class="root">
   <h1>Counter</h1>
   
   <p role="status">Current count: @currentCount</p>
   
   <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private uint currentCount = 0;

    private async Task IncrementCount()
    {
        try
        {
            var res = await Client.AuthRegisterAsync(new AuthRegisterReq() { Email = "mcbobbins", Pwd = "yolo" });
        }
        catch (Exception ex)
        {
            currentCount++;
        }
    }
}
