@inherits LayoutComponentBase

<div class="root flx">
    
    <div class="top-bar flx row">
        
    </div>
    
    <div class="top-bar-content flx row">
    
        <div class="side-bar flx">
            <NavMenu/>
        </div>

        <div class="main">
            @Body
        </div>
        
        <div class="toaster">
            <Toaster/>
        </div>
        
    </div>
</div>
