<div class="root">
    
    <div class="top">
        <TopBar></TopBar>
    </div>
    
    <div class="bot">
    
        <div class="left @(ShowLeft? "show": "")">
            <LeftMenu/>
        </div>

        <div class="right">
            @Body
        </div>
        
        <div class="toaster">
            <Toaster/>
        </div>
        
    </div>
</div>

@using Dnsk.Client.Lib
@inherits LayoutComponentBase
@implements IMainLayout;
@inject IMainLayoutService _mls;
@code{

    private bool ShowLeft { get; set; }
    
    protected override void OnInitialized()
    {
        _mls.Init(this);
        base.OnInitialized();
    }

    public void Left(bool? show = null)
    {
        if (show is null || ShowLeft != show)
        {
            ShowLeft = show ?? !ShowLeft;
            StateHasChanged();
        }
    }

}