@inherits LayoutComponentBase

<div class="root">
    
    <div class="top">
        <button class="left-tog" @onclick="@ToggleLeft">left</button>
    </div>
    
    <div class="bot">
    
        <div class="left @(Left? "show": "")">
            <LeftMenu/>
        </div>

        <div class="right">
            @Body
        </div>
        
        <div class="toaster">
            <Toaster/>
        </div>
        
    </div>
</div>

@code{

    private bool Left { get; set; }

    private void ToggleLeft() => Left = !Left;
    
}