.root {
  flex-direction: column-reverse;
}

.toast{
  border: 1px solid;
  border-radius: 0.5em;
  margin: 0 0.5em 0.5em 0.5em;
  padding: 0.5em;
  cursor: pointer;
  &.debug{
    background: purple;
  }
  &.info{
    background: white;
  }
  &.warning{
    background: yellow;
  }
  &.error{
    background: red;
  }
  &.fatal{
    background: black;
    color: white;
  }
}