<div>
    @foreach (var t in _toasts)
    {
        <p>@t.Message</p>
    }
</div>

@using Dnsk.Client.Lib
@using System.Timers
@inject IToasterService _ts;
@implements IToaster;

@code {
    
    private readonly List<Toast> _toasts = new ();
    
    protected override void OnInitialized()
    {
        _ts.Init(this);
        base.OnInitialized();
    }

    public async Task Show(Toast t)
    {
        _toasts.Add(t);
        StateHasChanged();
        Timer timer = new Timer();
        timer.Interval = 5000;
        timer.AutoReset = false;
        timer.Elapsed += (_, _) =>
        {
            _toasts.Remove(t);
            StateHasChanged();
        };
        timer.Start();
    }

}
