<div class="root">
    @foreach (var t in _toasts)
    {
        <p @onclick="@(() => Remove(t))" class="toast @(t.Level.Humanize().ToLower())">@t.Message asdas dasd asd asda sdasd asdasd asd asd asd asd asd asd asd asda s</p>
    }
</div>

@using Dnsk.Client.Lib
@using System.Timers
@using Humanizer
@implements IToaster;
@inject IToasterService _ts;

@code {
    
    private readonly List<Toast> _toasts = new ();
    
    protected override void OnInitialized()
    {
        _ts.Init(this);
        base.OnInitialized();
    }

    public void Show(Toast t)
    {
        _toasts.Add(t);
        StateHasChanged();
        Timer timer = new Timer();
        timer.Interval = 10000;
        timer.AutoReset = false;
        timer.Elapsed += (_, _) =>
        {
            if (_toasts.Remove(t))
            {
                StateHasChanged();
            }
        };
        timer.Start();
    }

    private void Remove(Toast t)
    {
        _toasts.Remove(t);
    }

}
